<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>

<link rel="stylesheet" href="/static/admin/css/pintuer.css">
<link rel="stylesheet" href="/static/admin/css/admin.css">
<script src="/static/admin/js/jquery.js"></script>
<script src="/static/admin/js/pintuer.js"></script>
<script src="/static/ckeditor/ckeditor.js"></script>
</head>
<style>
  .tipss{
      position:relative
  }
  .tipss input{
      width:103px;
      height:43px;
      position:absolute;
      top:0;
      left:-103px;
      opacity:0;
  }
</style>
<body>
<div class="panel admin-panel">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>增加新闻内容</strong></div>
  <div class="body-content">
      <!--<form action="javascripts:;" class="form-x" id="imgform" enctype="multipart/form-data">-->
<!--send_file send_form_directory-->
      <!--<div class="form-group">-->
        <!--<div class="label">-->
          <!--<label>图片：</label>-->
        <!--</div>-->
        <!--<div class="field">-->
          <!--<input type="text" id="url1" name="img" class="input tips" style="width:25%; float:left;"  value=""  data-toggle="hover" data-place="right" data-image="" />-->
          <!--<input type="button" class="button bg-blue margin-left" id="image1" value="+ 浏览上传"  style="float:left;">-->
          <!--<div class="tipss">图片尺寸：500*500-->
              <!--<input type="file" name="imgurl" id="image">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</form>-->
    <form method="post" class="form-x" action="/addnews" >
      <!--<input type="hidden" name="imgurl1">-->
      <!--<input type="hidden" name="type">-->
      <div class="form-group">
        <div class="label">
          <label>新闻标题：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="" name="title" data-validate="required:请输入新闻标题" />
          <div class="tips"></div>
        </div>
      </div>
       <div class="form-group">
          <div class="label">
            <label>新闻分类：</label>
          </div>
          <div class="field">
            {% for item in data %}
            <input type="checkbox" name="cid" value="{{item[1]}}">{{item[1]}}
            {% endfor %}
            <div class="tips"></div>
          </div>
        </div>
        <div class="form-group">
          <div class="label">
            <label>新闻关键字：</label>
          </div>
          <div class="field">
            <input type="text" class="input w50" value="" name="keywords" data-validate="required:请输入新闻作者" />
            <div class="tips"></div>
          </div>
        </div>
        <div class="form-group">
        <div class="label">
          <label>新闻内容：</label>
        </div>
        <div class="field">
            <textarea class="ckeditor" name="con" id="content"></textarea>
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
          <div class="label">
            <label>作者：</label>
          </div>
          <div class="field">
            <input type="text" class="input w50" value="" name="author" data-validate="required:请输入新闻作者" />
            <div class="tips"></div>
          </div>
        </div>
       <div class="form-group">
        <div class="label">
          <label>评论次数：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="comment" value="" data-validate="member:只能为数字"  />
          <div class="tips"></div>
        </div>
      </div>
      <div class="clear"></div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit" id="commit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script>



let file=$("[type=file]")
let url1=$("#url1")

file.on("change",function(){
  let value = file.val()
  if(value){
    let form = new FormData($("#imgform")[0]);
    form.append("imgurl",$("#image").val())
    $.ajax({
      url:"/uploadNewsimg",
      type:"post",
      data:form,
      processData: false,
      contentType: false,
      success:function(e){
        console.log(e)
        if(e.info =='ok'){
          url1.attr("data-image",e.imgurl)
          url1.attr("value",e.imgurl)
          $("[name=imgurl1]").val(e.imgurl)
        }
      }
    })

  }
})
</script>
</body>

<script type="text/javascript">
CKEDITOR.replace('content', {
	filebrowserUploadUrl: '/ckupload/',
});
</script>
</html>