<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="/static/admin/css/pintuer.css">
<link rel="stylesheet" href="/static/admin/css/admin.css">
<script src="/static/admin/js/jquery.js"></script>
<script src="/static/admin/js/pintuer.js"></script>
<script src="/static/ckeditor/ckeditor.js"></script>
</head>
<style>
  .tipss{
      position:relative
  }
  .tipss input{
      width:103px;
      height:43px;
      position:absolute;
      top:0;
      left:-103px;
      opacity:0;
  }
</style>
<body>
<div class="panel admin-panel">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>新闻详情修改</strong></div>
  <div class="body-content">
    <!--multipart/form-data	不对字符编码。在使用包含文件上传控件的表单时，必须使用该值。-->
    <form method="post" class="form-x" action="/editnews" >
      <input type="hidden" name="id" value="{{id}}" >
      <!--<input type="hidden" name="imgurl1">-->
      <div class="form-group">
        <div class="label">
          <label>新闻标题：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="{{name}}" name="title" data-validate="required:请输入新闻标题" />
          <div class="tips"></div>
        </div>
      </div>

       <div class="form-group">
          <div class="label">
            <label>新闻分类：</label>
          </div>
          <div class="field">
            {% for item in data %}
            <input type="checkbox" name="cid" value="{{item[1]}}">{{item[1]}}
            {% endfor %}
            <div class="tips"></div>
          </div>
        </div>
        <div class="form-group">
          <div class="label">
            <label>新闻关键字：</label>
          </div>
          <div class="field">
            {% for item in data1 %}
            <input type="checkbox" name="keywords" value="{{item[1]}}">{{item[1]}}
            {% endfor %}
            <div class="tips"></div>
          </div>
        </div>
      <div class="form-group">
        <div class="label">
          <label>新闻内容：</label>
        </div>
        <div class="field">
          <<textarea class="ckeditor" name="con" id="content"></textarea>
          <!--<textarea class="input" name="con" style=" height:90px;"></textarea>-->
          <div class="tips"></div>
        </div>
      </div>

     
      <div class="clear"></div>

      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">

          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
let file=$("[type=file]")
let url1=$("#url1")

file.on("change",function(){
  let value = file.val()
  if(value){
    let form = new FormData($("#imgform")[0]);
    form.append("imgurl",$("#image").val())
    $.ajax({
      url:"/uploadPimg",
      type:"post",
      data:form,
      processData: false,
      contentType: false,
      success:function(e){
        console.log(e)
        if(e.info =='ok'){
          url1.attr("data-image",e.imgurl)
          url1.attr("value",e.imgurl)
          $("[name=imgurl1]").val(e.imgurl)
        }
      }
    })

  }
})
</script>
<script type="text/javascript">
CKEDITOR.replace('content', {
	filebrowserUploadUrl: '/ckupload/',
});
</script>
</body></html>