<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的</title>
    <script src="/static/js/rem.js"></script>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_773988_lztxgee1xa8.css">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_849483_0plnch0gwvyj.css">
    <link rel="stylesheet" href="/static/css/login2.css">
</head>
<style>
    .login_in_top li{
        line-height:1.23rem;
        padding-top:0;
    }
    .login_in_top i{
        margin-top:-0.15rem;
        font-size: 0.42rem;
        margin-left: 1.02rem;
        display:block;

    }
    .login_in_top span{
        margin-top:-0.69rem;
        display:block;

    }
    body{
        overflow-y:hidden;
    }
</style>
<body>
<div class="bg">
    <div class="login_header">
        <div class="tittle">登录推荐更精准</div>
        <ul>
            <li>
                <i class="iconfont icon-shouji"></i>
            </li>
            <li>
                <i class="iconfont icon-wechat"></i>
            </li>
            <li>
                <i class="iconfont icon-qq"></i>
            </li>
        </ul>
        <a href="/login1"><div class="more">
            <i class="iconfont icon-fanhui"></i>
        </div></a>
        <div class="bottom">
            <div class="iBox">
                <i class="iconfont icon-shu"></i>
            </div>

            今日阅读两分钟</div>
    </div>
    <ul class="login_in_top">
        <li>
            <i class="iconfont icon-shoucangjia icon1"></i>
            <span>收藏</span>
        </li>
        <li>
            <i class="iconfont icon-lishi icon2"></i>
            <span>历史</span>
        </li>
        <li>
            <i class="iconfont icon-yejianmoshi icon3"></i>
            <span>夜间</span>
        </li>
    </ul>
    <ul class="login_in">
        <li>我的关注 <i class="iconfont icon-xiaoyuhao2"></i></li>
        <li>消息通知 <i class="iconfont icon-xiaoyuhao2"></i></li>
    </ul>
    <ul class="login_in">
        <li>我的钱包 <i class="iconfont icon-xiaoyuhao2"></i><span>手机充值</span></li>
        <li>京东特供 <i class="iconfont icon-xiaoyuhao2"></i><span>返双节专项礼包送不停</span></li>
    </ul>
    <ul class="login_in_bottom">
        <li>用户反馈 <i class="iconfont icon-xiaoyuhao2"></i></li>
        <li>系统设置 <i class="iconfont icon-xiaoyuhao2"></i></li>
    </ul>
    <ul class="login_in_bottom"></ul>
</div>
<footer>
    <ul>
        <a href="/">
            <li>
                <i class="iconfont icon-shouye"></i>
                首页
            </li>
        </a>
        <li>
            <i class="iconfont icon-bofang3"></i>
            西瓜视频
        </li>
        <li>
            <i class="iconfont icon-renyuanguanli"></i>
            找人
        </li>
        <li>
            <i class="iconfont icon-iconfonthot"></i>
            小视频
        </li>
        <a href=""><li>
            <i class="iconfont icon-renshu"></i>
            我的
        </li></a>
    </ul>
</footer>
</body>
<script src="/static/js/rem.js"></script>
</html>